body{
  background: #282c34;
}
.question{
  text-align: center;
  color: #00ff8a;
  font-size: 20px;
}
.answer{
  margin-top: 10px;
  text-align: center;
  color: #e7e7e7;
  font-size: 20px;
}


.title{
  border: solid 3px #e7e7e7;
  padding: 10px 40px;
  margin: 10px auto;
  background: #000;
}